-
    const defaultFieldProps = {
        classes: '',
        tag: 'input',
        type: 'text',
        title: '',
        textareaRows: '5',
        placeholder: '',
        isTab: false,
        icon: '',
        radioCheckboxImg: '',
        radioCheckboxImg2: '',
        radioCheckboxColor: '',
        radioCheckboxText: '',
        inputAttr: {},
        selectOptions: [
            "вариант 1",
            "вариант 2"
        ],
        isDouble: false,
        placeholder2: '',
        selectOptions2: '',
        inputAttr2: {}
    }

mixin field(props = defaultFieldProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultFieldProps.classes,
            tag: props.tag ? props.tag : defaultFieldProps.tag,
            type: props.type ? props.type : defaultFieldProps.type,
            title: props.title ? props.title : defaultFieldProps.title,
            textareaRows: props.textareaRows ? props.textareaRows : defaultFieldProps.textareaRows,
            placeholder: props.placeholder ? props.placeholder : defaultFieldProps.placeholder,
            isTab: props.isTab ? props.isTab : defaultFieldProps.isTab,
            icon: props.icon ? props.icon : defaultFieldProps.icon,
            radioCheckboxImg: props.radioCheckboxImg ? props.radioCheckboxImg : defaultFieldProps.radioCheckboxImg,
            radioCheckboxImg2: props.radioCheckboxImg2 ? props.radioCheckboxImg2 : defaultFieldProps.radioCheckboxImg2,
            radioCheckboxColor: props.radioCheckboxColor ? props.radioCheckboxColor : defaultFieldProps.radioCheckboxColor,
            radioCheckboxText: props.radioCheckboxText ? props.radioCheckboxText : defaultFieldProps.radioCheckboxText,
            inputAttr: props.inputAttr ? props.inputAttr : defaultFieldProps.inputAttr,
            selectOptions: props.selectOptions ? props.selectOptions : defaultFieldProps.selectOptions,
            isDouble: props.isDouble ? props.isDouble : defaultFieldProps.isDouble,
            placeholder2: props.placeholder2 ? props.placeholder2 : defaultFieldProps.placeholder2,
            inputAttr2: props.inputAttr2 ? props.inputAttr2 : defaultFieldProps.inputAttr2,
            selectOptions2: props.selectOptions2 ? props.selectOptions2 : defaultFieldProps.selectOptions2
        }


    .field(class= `${checkProps.classes} 
    ${checkProps.isDouble ? "field--double" : ""} 
    ${checkProps.type === 'radio' && checkProps.isTab === true ? 'field--tab' : checkProps.type === 'radio' ? 'field--radio' : ''} 
    ${checkProps.type === 'checkbox' ? 'field--checkbox' : ''}` 
    data-js='formField')&attributes(attributes)
        label
            - if(checkProps.tag === 'input')
                input.field__input(type=checkProps.type placeholder='')&attributes(checkProps.inputAttr)

                - if(checkProps.type === 'radio')
                    - let isTab = checkProps.isTab

                    - if(isTab === true)
                        span.fake-radio
                            span.fake-radio__text!= checkProps.radioCheckboxText
                    - else
                        span.fake-radio
                            span.fake-radio__input
                            - if(checkProps.radioCheckboxText.length > 0)
                                span.fake-radio__text!= checkProps.radioCheckboxText

                - else if(checkProps.type === 'checkbox')
                    - if (checkProps.radioCheckboxText.length > 0)
                        span.fake-checkbox.fake-checkbox--text
                            span.fake-checkbox__square
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#check`)
                            span.fake-checkbox__text!= checkProps.radioCheckboxText
                    - else
                        - if(checkProps.title.length > 0)
                            span.field__title!= checkProps.title
                        span.fake-checkbox
                    span.field__error(data-js='fieldError')

                - else
                    span.field__placeholder!= checkProps.placeholder
                    - if(checkProps.icon.length > 0)
                        .field__icon
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#${checkProps.icon}`)
                    span.field__error(data-js='fieldError')

            - if(checkProps.tag === 'textarea')
                textarea.field__textarea(rows=checkProps.textareaRows placeholder='')&attributes(checkProps.inputAttr)
                span.field__placeholder!= checkProps.placeholder
                span.field__error(data-js='fieldError')

            - if(checkProps.tag === 'select')
                select.field__select(data-placeholder=checkProps.placeholder data-js='formSelect')&attributes(checkProps.inputAttr)
                    - let optionCount = 0
                    - while (optionCount < checkProps.selectOptions.length)
                        - if(checkProps.selectOptions[optionCount].length > 0)
                            option(value=checkProps.selectOptions[optionCount])!= checkProps.selectOptions[optionCount]
                        - else
                            option(label=" ")!= checkProps.selectOptions[optionCount]
                        - optionCount++
                span.field__error(data-js='fieldError')

        -if(checkProps.isDouble == true)
            label
                - if(checkProps.tag === 'input')
                    input.field__input.field__input--second(type=checkProps.type placeholder=checkProps.placeholder2)&attributes(checkProps.inputAttr2)
                    span.field__error(data-js='fieldError')

                - if(checkProps.tag === 'select')
                    select.field__select.field__select--second(data-placeholder=checkProps.placeholder2 data-js='formSelect')&attributes(checkProps.inputAttr2)
                        - let optionCount = 0
                        - while (optionCount < checkProps.selectOptions2.length)
                            - if(checkProps.selectOptions2[optionCount].length > 0)
                                option(value=checkProps.selectOptions2[optionCount])!= checkProps.selectOptions2[optionCount]
                            - else
                                option(label=" ")!= checkProps.selectOptions2[optionCount]
                            - optionCount++
                    span.field__error(data-js='fieldError')



