-
    const defaultSCarsProps = {
        classes: '',
        title: '<h1>Мои автомобили</h1>',
        hasDLBtn: false,
        cards: [
            {
                img: 'img/catalog-product/cp_intro_1.webp',
                title: 'Lixiang L7 Pro 449 л.с. Hybrid Turbo 4WD',
                price: {
                    current: '15 000 000 ₽',
                    old: '18 000 000 ₽',
                    direction: 'down'
                },
                tag: {
                    text: 'Выкуплен',
                    status: 'green'
                },
                isFairPrice: true,
                btn: {
                    name: 'Изменить',
                    cMode: 'accent',
                    sMode: "content",
                    icon: 'pencil'
                }
            },
            {
                img: 'img/catalog-product/cp_intro_1.webp',
                title: 'Lixiang L7 Pro 449 л.с. Hybrid Turbo 4WD',
                price: {
                    current: '15 000 000 ₽',
                    old: '10 000 000 ₽',
                    direction: 'up'
                },
                tag: {
                    text: 'Не выкуплен',
                    status: 'blue'
                },
                isFairPrice: false,
                btn: {
                    name: 'Изменить',
                    cMode: 'accent',
                    sMode: "content",
                    icon: 'pencil'
                }
            },
            {
                img: 'img/catalog-product/cp_intro_1.webp',
                title: 'Lixiang L7 Pro 449 л.с. Hybrid Turbo 4WD',
                price: {
                    current: '15 000 000 ₽',
                    old: '',
                    direction: ''
                },
                tag: {
                    text: 'Проблема',
                    status: 'red'
                },
                isFairPrice: false,
                btn: {
                    name: 'Изменить',
                    cMode: 'accent',
                    sMode: "content",
                    icon: 'pencil'
                }
            },
            {
                img: 'img/catalog-product/cp_intro_1.webp',
                title: 'Lixiang L7 Pro 449 л.с. Hybrid Turbo 4WD',
                price: {
                    current: '15 000 000 ₽',
                    old: '',
                    direction: ''
                },
                tag: {
                    text: 'Запрос на выкуп',
                    status: 'yellow'
                },
                isFairPrice: false,
                btn: {
                    name: 'Изменить',
                    cMode: 'accent',
                    sMode: "content",
                    icon: 'pencil'
                }
            },
            {
                img: 'img/catalog-product/cp_intro_1.webp',
                title: 'Lixiang L7 Pro 449 л.с. Hybrid Turbo 4WD',
                price: {
                    current: '15 000 000 ₽',
                    old: '',
                    direction: ''
                },
                tag: {
                    text: 'Не выкуплен',
                    status: 'blue'
                },
                isFairPrice: false,
                btn: {
                    name: 'Изменить',
                    cMode: 'accent',
                    sMode: "content",
                    icon: 'pencil'
                }
            },
            {
                img: 'img/catalog-product/cp_intro_1.webp',
                title: 'Lixiang L7 Pro 449 л.с. Hybrid Turbo 4WD',
                price: {
                    current: '15 000 000 ₽',
                    old: '',
                    direction: ''
                },
                tag: {
                    text: 'Не выкуплен',
                    status: 'blue'
                },
                isFairPrice: false,
                btn: {
                    name: 'Изменить',
                    cMode: 'accent',
                    sMode: "content",
                    icon: 'pencil'
                }
            },
        ],
    }

mixin s-cars(props= defaultSCarsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSCarsProps.classes,
            title: props.title ? props.title : defaultSCarsProps.title,
            hasDLBtn: props.hasDLBtn ? props.hasDLBtn : defaultSCarsProps.hasDLBtn,
            cards: props.cards ? props.cards : defaultSCarsProps.cards,
        }

    section.section.s-cars(class= checkProps.classes)&attributes(attributes)
        .section__container
            .section-block.s-cars__block
                .s-cars__header
                    .title.title--24.s-cars__title!= checkProps.title
                    if(checkProps.hasDLBtn)
                        +btn({
                            name: 'Выгрузить сток в фид',
                            sMode: 'content',
                            cMode: 'accent',
                            icon: 'upload'
                        })
                .s-cars__list
                    - let cardsCount = 0
                    -while(cardsCount < checkProps.cards.length)
                        - let card = checkProps.cards[cardsCount]
                        .s-cars__card.s-car
                            .s-car__img
                                img(src=card.img, alt="")
                            .s-car__info
                                .s-car__title.title!= card.title
                                .s-car__bottom
                                    - let priceDirection = card.price.direction.length > 0 ? `s-car__price--${card.price.direction}` : ''  
                                    .s-car__price(class=priceDirection)
                                        .current!= card.price.current
                                            - if(card.price.direction.length > 0)
                                                svg
                                                    use(xlink:href=`img/sprites/sprite.svg#arrow_dir`)
                                        - if(card.price.old.length > 0)
                                            .old!= card.price.old
                                    .s-car__status(class=`s-car__status--${card.tag.status}`)!= card.tag.text
                                    - if(card.isFairPrice === true)
                                        +tooltip

                            - if(checkProps.hasDLBtn === true)
                                +btn({
                                    classes: 's-car__detail',
                                    name: 'Подробнее',
                                    sMode: 'content',
                                    cMode: 'light-accent'
                                })
                            .s-car__btns
                                +btn(card.btn)
                                +btn({
                                    name: 'Удалить из базы',
                                    sMode: 'content',
                                    cMode: 'light-accent',
                                    icon: 'urn'
                                })



                        - cardsCount++
