-
    const defaultESuppliersProps = {
        classes: '',
        title: '<h1>База поставщиков</h1>',
        cards: [
            {
                title: 'ООО Рога и Копыта',
                dateOfReg: {
                    date: '29.08.2025',
                    days: '1 день',
                    status: 'green'
                },
                rejected: '120',
                changes: {
                    date: '29.08.2025',
                    days: '1 день',
                    status: 'green'
                },
                sold: '110 шт.',
                catalog: '28 шт.',
            },
            {
                title: 'ООО Ромашка',
                dateOfReg: {
                    date: '29.08.2025',
                    days: '2 дня',
                    status: 'yellow'
                },
                rejected: '0',
                changes: {
                    date: '29.08.2025',
                    days: '1 день',
                    status: 'green'
                },
                sold: '4210 шт.',
                catalog: '2888 шт.',
            },
            {
                title: 'ООО Василек',
                dateOfReg: {
                    date: '29.08.2025',
                    days: '49 дней',
                    status: 'red'
                },
                rejected: '120',
                changes: {
                    date: '29.08.2025',
                    days: '1 день',
                    status: 'green'
                },
                sold: '110 шт.',
                catalog: '28 шт.',
            },
            {
                title: 'ООО Василек',
                dateOfReg: {
                    date: '29.08.2025',
                    days: '49 дней',
                    status: 'red'
                },
                rejected: '120',
                changes: {
                    date: '29.08.2025',
                    days: '2 дня',
                    status: 'yellow'
                },
                sold: '110 шт.',
                catalog: '28 шт.',
            },
        ],
    }

mixin e-suppliers(props= defaultESuppliersProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultESuppliersProps.classes,
            title: props.title ? props.title : defaultESuppliersProps.title,
            cards: props.cards ? props.cards : defaultESuppliersProps.cards,
        }

    section.section.e-suppliers(class= checkProps.classes)&attributes(attributes)
        .section__container
            .section-block.e-suppliers__block
                .title.title--24.e-suppliers__title!= checkProps.title
                .e-suppliers__controls
                    form(action="#").e-suppliers__search
                        .field.field--search(data-js="formField")
                            label
                                input.field__input(type="text" placeholder="")
                                span.field__placeholder Поиск по ИНН / КПП /
                                button.field__icon(type="submit")
                                    svg
                                        use(xlink:href="img/sprites/sprite.svg#search")


                    +form-filter({
                        classes: 'e-suppliers__filter',
                        hasResetBtn: true,
                        btnText: 'Показать 73'
                    })
                        <div class="field" data-js="formField">
                            <label>
                                <input class="field__input" type="text" placeholder="" data-v-name="date" data-type="date">
                                <span class="field__placeholder">Дата добавления в каталог</span>
                                <span class="field__icon">
                                    <svg>
                                        <use xlink:href="img/sprites/sprite.svg#calendar"></use>
                                    </svg>
                                </span>
                            </label>
                        </div>
                        <div class="field field--double" data-js="formField">
                            <label>
                                <select class="field__select" data-placeholder="В базе от" data-js="formSelect">
                                    <option label=" "></option>
                                    <option value="0">0</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                            <label>
                                <select class="field__select field__select--second" data-placeholder="до" data-js="formSelect">
                                    <option label=" "></option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                        </div>
                        <div class="field field--double" data-js="formField">
                            <label>
                                <select class="field__select" data-placeholder="Продаж от" data-js="formSelect">
                                    <option label=" " data-select2-id="9"></option>
                                    <option value="0">0</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                            <label>
                                <select class="field__select field__select--second" data-placeholder="до" data-js="formSelect">
                                    <option label=" "></option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                        </div>

                .e-suppliers__list
                    - let cardsCount = 0
                    -while(cardsCount < checkProps.cards.length)
                        - let card = checkProps.cards[cardsCount]
                        .e-suppliers__card.e-supplier
                            .e-supplier__info
                                .e-supplier__title.title!= card.title
                                .e-supplier__inn
                                    span ИНН 7724564269
                                    +tooltip({
                                        classes: 'tooltip--small',
                                        title: '',
                                        text: `
                                            <div class="tooltip-table">
                                                <div class="tooltip-table__row">
                                                    <div class="tooltip-table__param">ИНН</div>
                                                    <div class="tooltip-table__value">7724564269</div>
                                                </div>    
                                                <div class="tooltip-table__row">
                                                    <div class="tooltip-table__param">КПП</div>
                                                    <div class="tooltip-table__value">7724564269</div>
                                                </div>    
                                                <div class="tooltip-table__row">
                                                    <div class="tooltip-table__param">ФИО контактного лица</div>
                                                    <div class="tooltip-table__value">Вариев Андрей Васильевич</div>
                                                </div>
                                                <div class="tooltip-table__row">
                                                    <div class="tooltip-table__param">Почта компании</div>
                                                    <div class="tooltip-table__value">test@test.ru</div>
                                                </div>    
                                                <div class="tooltip-table__row">
                                                    <div class="tooltip-table__param">Телефон</div> 
                                                    <div class="tooltip-table__value">8 (999) 999-99-99</div>
                                                </div>    
                                            </div>
                                        `
                                    })
                                a.e-supplier__phone(href="tel:+79996660201") +7 (999) 666-02-01

                            .e-supplier__block
                                .e-supplier__row.info-row
                                    .info-row__title Дата регистрации:
                                    .info-row__value!= card.dateOfReg.date
                                        .info-row__number(class=`info-row__number--${card.dateOfReg.status}`)!= card.dateOfReg.days

                                .e-supplier__row.info-row
                                    .info-row__title Отклонено запросов на выкуп:
                                    .info-row__value
                                        .info-row__number(class= `${card.rejected !== '0' ? 'info-row__number--blue' : ''}`)!= card.rejected

                            .e-supplier__block
                                .e-supplier__row.info-row
                                    .info-row__title Каталог изменен:
                                    .info-row__value!= card.changes.date
                                        .info-row__number(class=`info-row__number--${card.changes.status}`)!= card.changes.days

                                .e-supplier__flex
                                    .e-supplier__row.info-row
                                        .info-row__title Продано:
                                        .info-row__value
                                            .info-row__number!= card.sold
                                    .e-supplier__row.info-row
                                        .info-row__title В каталоге:
                                        .info-row__value
                                            .info-row__number!= card.catalog

                            .e-supplier__btns
                                +btn({
                                    name: 'Просмотр каталога',
                                    sMode: 'mini',
                                    cMode: 'accent',
                                })
                                +btn({
                                    name: 'Заблокировать',
                                    sMode: 'mini',
                                    cMode: 'light-accent',
                                    icon: 'cancel'
                                })



                        - cardsCount++
