-
    const defaultESuppliersProps = {
        classes: '',
        title: '<h1>База поставщиков</h1>',
        cards: [
            {
                title: 'ООО Рога и Копыта',
                dateOfReg: {
                    date: '29.08.2025',
                    days: '1 день',
                    status: 'green'
                },
                rejected: '120',
                changes: {
                    date: '29.08.2025',
                    days: '1 день',
                    status: 'green'
                },
                sold: '110 шт.',
                catalog: '28 шт.',
            },
            {
                title: 'ООО Ромашка',
                dateOfReg: {
                    date: '29.08.2025',
                    days: '2 дня',
                    status: 'yellow'
                },
                rejected: '0',
                changes: {
                    date: '29.08.2025',
                    days: '1 день',
                    status: 'green'
                },
                sold: '4210 шт.',
                catalog: '2888 шт.',
            },
            {
                title: 'ООО Василек',
                dateOfReg: {
                    date: '29.08.2025',
                    days: '49 дней',
                    status: 'red'
                },
                rejected: '120',
                changes: {
                    date: '29.08.2025',
                    days: '1 день',
                    status: 'green'
                },
                sold: '110 шт.',
                catalog: '28 шт.',
            },
            {
                title: 'ООО Василек',
                dateOfReg: {
                    date: '29.08.2025',
                    days: '49 дней',
                    status: 'red'
                },
                rejected: '120',
                changes: {
                    date: '29.08.2025',
                    days: '2 дня',
                    status: 'yellow'
                },
                sold: '110 шт.',
                catalog: '28 шт.',
            },
        ],
    }

mixin e-suppliers(props= defaultESuppliersProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultESuppliersProps.classes,
            title: props.title ? props.title : defaultESuppliersProps.title,
            cards: props.cards ? props.cards : defaultESuppliersProps.cards,
        }

    section.section.e-suppliers(class= checkProps.classes)&attributes(attributes)
        .section__container
            .section-block.e-suppliers__block
                .title.title--24.e-suppliers__title!= checkProps.title
                .e-suppliers__controls
                    form(action="#").e-suppliers__search
                        .field.field--search(data-js="formField")
                            label
                                input.field__input(type="text" placeholder="")
                                span.field__placeholder Поиск по ИНН / КПП /
                                button.field__icon(type="submit")
                                    svg
                                        use(xlink:href="img/sprites/sprite.svg#search")


                    +form-filter({
                        classes: 'e-suppliers__filter',
                        hasResetBtn: true,
                        btnText: 'Показать 73'
                    })

                        +field({
                            placeholder: 'Дата добавления в каталог',
                            icon: 'calendar',
                            inputAttr: {
                                'data-v-name': 'date',
                                'data-type': 'date',
                            },
                        })
                        +field({
                            classes: '',
                            tag: 'select',
                            placeholder: 'В базе от',
                            placeholder2: 'до',
                            selectOptions: [
                                "",
                                "0",
                                "10",
                                "20",
                                "30",
                                "50",
                                "100",
                            ],
                            selectOptions2: [
                                "",
                                "10",
                                "20",
                                "30",
                                "50",
                                "100",
                            ],
                            isDouble: true,
                        })

                        +field({
                            classes: '',
                            tag: 'select',
                            placeholder: 'Продаж от',
                            placeholder2: 'до',
                            selectOptions: [
                                "",
                                "0",
                                "10",
                                "20",
                                "30",
                                "50",
                                "100",
                            ],
                            selectOptions2: [
                                "",
                                "10",
                                "20",
                                "30",
                                "50",
                                "100",
                            ],
                            isDouble: true,
                        })


                .e-suppliers__list
                    - let cardsCount = 0
                    -while(cardsCount < checkProps.cards.length)
                        - let card = checkProps.cards[cardsCount]
                        .e-suppliers__card.e-supplier
                            .e-supplier__info
                                .e-supplier__title.title!= card.title
                                .e-supplier__inn
                                    span ИНН 7724564269
                                    +tooltip({
                                        classes: 'tooltip--small',
                                        title: '',
                                        text: 'ИНН 7724564269'
                                    })
                                a.e-supplier__phone(href="tel:+79996660201") +7 (999) 666-02-01

                            .e-supplier__block
                                .e-supplier__row.info-row
                                    .info-row__title Дата регистрации:
                                    .info-row__value!= card.dateOfReg.date
                                        .info-row__number(class=`info-row__number--${card.dateOfReg.status}`)!= card.dateOfReg.days

                                .e-supplier__row.info-row
                                    .info-row__title Отклонено запросов на выкуп:
                                    .info-row__value
                                        .info-row__number(class= `${card.rejected !== '0' ? 'info-row__number--blue' : ''}`)!= card.rejected

                            .e-supplier__block
                                .e-supplier__row.info-row
                                    .info-row__title Каталог изменен:
                                    .info-row__value!= card.changes.date
                                        .info-row__number(class=`info-row__number--${card.changes.status}`)!= card.changes.days

                                .e-supplier__flex
                                    .e-supplier__row.info-row
                                        .info-row__title Продано:
                                        .info-row__value
                                            .info-row__number!= card.sold
                                    .e-supplier__row.info-row
                                        .info-row__title В каталоге:
                                        .info-row__value
                                            .info-row__number!= card.catalog

                            .e-supplier__btns
                                +btn({
                                    name: 'Просмотр каталога',
                                    sMode: 'mini',
                                    cMode: 'accent',
                                })
                                +btn({
                                    name: 'Заблокировать',
                                    sMode: 'mini',
                                    cMode: 'light-accent',
                                    icon: 'cancel'
                                })



                        - cardsCount++
