-
    const defaultBtnProps = {
        classes: '',
        name: 'Кнопка',
        cMode: 'red',
        sMode: 'content',
        type: 'link',
        link: 'javascript:void(0)',
        buttonType: 'button',
        icon: '', 
        hasArrow: false
    }

mixin btn(props = defaultBtnProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultBtnProps.classes,
            name: props.name ? props.name : defaultBtnProps.name,
            cMode: props.cMode ? props.cMode : defaultBtnProps.cMode,
            sMode: props.sMode ? props.sMode : defaultBtnProps.sMode,
            type: props.type ? props.type : defaultBtnProps.type,
            link: props.link ? props.link : defaultBtnProps.link,
            buttonType: props.buttonType ? props.buttonType : defaultBtnProps.buttonType,
            icon: props.icon ? props.icon : defaultBtnProps.icon,
            hasArrow: props.hasArrow ? props.hasArrow : defaultBtnProps.hasArrow
        }

        let colorClass = ` btn--${checkProps.cMode}`
        let sizeClass = ` btn--${checkProps.sMode}`

    - if(checkProps.type == 'link')
        a.btn(class=checkProps.classes + colorClass + sizeClass href= checkProps.link)&attributes(attributes)
            -if(checkProps.icon.length > 0)
                svg
                    use(xlink:href=`img/sprites/sprite.svg#${checkProps.icon}`)
            -if(checkProps.sMode !== 'icon')
                span.btn__text!= checkProps.name
            -if(checkProps.hasArrow === true)
                svg.btn__arrow
                    use(xlink:href=`img/sprites/sprite.svg#burger_chevron`)
    - else if(checkProps.type == 'button')
        button.btn(class=checkProps.classes + colorClass + sizeClass type= checkProps.buttonType)&attributes(attributes)
            -if(checkProps.icon.length > 0)
                svg
                    use(xlink:href=`img/sprites/sprite.svg#${checkProps.icon}`)
            -if(checkProps.sMode !== 'icon')
                span.btn__text!= checkProps.name
            -if(checkProps.hasArrow === true)
                svg.btn__arrow
                    use(xlink:href=`img/sprites/sprite.svg#burger_chevron`)

